{{>layouts/header}}
<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
        +    </tr>
    </thead>
    <tbody>
    <!-- Entity를 가져오기 -->
    {{#articleList}}
    <!-- articleList가 여러 데이터를 가진 경우에 for문처럼 데이터들이 반복됨! -->
        <tr>
            <th>{{id}}</th>
            <td><a href="/articles/{{id}}">{{title}}</a></td>
            <td>{{content}}</td>
        </tr>
    {{/articleList}}
    </tbody>
</table>

<a href="/articles/new">New Article</a>
{{>layouts/footer}}